<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <variable name="logDir" value="${basedir}/nlog" />
    <variable name="logFileName" value="${date:format=yyyyMMdd}.log" />
    <variable name="logArchiveFileName" value="${date:format=yyyyMMdd}_{#}.txt" />
    <variable name="logLayout0" value="`${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}`" />
    <variable name="logLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message}" />
    <!--文本格式-->
    <variable name="fileFormat"
		   value="
            ${newline}date: ${date}
            ${newline}level: ${level:uppercase=true}
            ${newline}logger: ${logger}
            ${newline}machinename: ${machinename}
            ${newline}message: ${message:withexception=true}
            ${newline}------------------------------------------------------------" />

    <targets>
        <target name="logfile" xsi:type="File" fileName="${logDir}/all/${logFileName}" layout="${fileFormat}" />
        <target name="errorlog" xsi:type="File" fileName="${logDir}/error/${logFileName}" layout="${fileFormat}" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="*" level="Error" writeTo="errorlog" />
    </rules>
</nlog>